# =========================
# Prerequisites / Dependências
# =========================
*.d

# =========================
# Object files / Arquivos objeto
# =========================
*.o
*.ko
*.obj
*.elf

# =========================
# Linker output / Saída do Linker
# =========================
*.ilk
*.map
*.exp

# =========================
# Precompiled Headers / Cabeçalhos pré-compilados
# =========================
*.gch
*.pch

# =========================
# Libraries / Bibliotecas
# =========================
*.lib
*.a
*.la
*.lo

# =========================
# Shared objects (Linux/Windows/macOS)
# =========================
*.dll
*.so
*.so.*
*.dylib

# =========================
# Executables / Executáveis
# =========================
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Executáveis gerados no Linux
beecrowd/Iniciante/output/*

# Ignorar executáveis na pasta bin ou build
/bin/
/build/
/dist/

# =========================
# Debug files / Arquivos de depuração
# =========================
*.dSYM/
*.su
*.idb
*.pdb

# =========================
# Kernel Module Compile Results / Resultados de compilação de módulo de kernel
# =========================
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
